.chat {
  flex: 1;
  overflow-y: scroll;
  background-color: #fafafa;
}

.welcome {
  display: block;
  font-style: italic;
  color: #666;
  padding: 5px 10px;
}

.user {
  color: blue;
  font-weight: bold;
  margin-right: 5px;
}

.self {
  composes: user;
  color: red;
}

.message {
  display: flex;
  align-items: center;
  color: red;
  margin-left: 5px;
  padding: 5px 0;
}

.time {
  margin-left: 5px;
  margin-right: 5px;
  color: #999;
}

.text {
  display: inline-block;
  max-width: 70%;
}

.pic {
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
  background: darkorange;
}

.char {
  text-align: center;
  align-self: center;
  width: 100%;
}
