.element
{
  color: #33363A;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-family: 'Rubik', helvetica, sans-serif;

  /*padding: 14px 16px;*/
  transition: 0.2s;

  background-color: inherit;
  cursor: pointer;

  border-style: none;
  outline: none;
  margin: 5px 10px;
}

.panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*justify-content: flex-start;*/
  background-color: #FFD00B;
  border-right: 3px solid #33363A;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-family: inherit;
  border: 3px solid #33363A;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 10px;
  width: 60%;
  heigth: 10vh;
  text-align: center;
  overflow: hidden;
}

.button:hover
{
  background-color: #FFAA00;
}

.buttonCurrent {
  composes: button;
  text-decoration: underline;
}
