.layout
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room {
  flex: 1;
  display: flex;
  position: relative;
}

.roomInner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  height: 54px;
}
