.master_menu
{
    background: #2D2D2D;
    box-shadow: inset 0 10px 10px -5px #0d1116;
}
.control_panel
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: yellow;
    height: 50px;
}

.control_item
{
    display: flex;
    flex-direction: row;
}

.timer
{
    color: white;
    font-size: 12px;
    background: darkorange;
    border: 1px solid saddlebrown;
    outline: none;
    height: 20px;
}
