.container {
  display: block;
}

.item {
  display: block;
  position: relative;

  width: 100%;
  box-sizing: border-box;

  color: #33363A;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Rubik', helvetica, sans-serif;

  padding: 14px 16px;
  transition: background 0.2s;

  /*background-color: inherit;*/
  cursor: pointer;

  border-style: none;
  outline: none;
}

.item:hover {
  background-color: #FFAA00;
}

.activeItem {
  composes: item;
  font-weight: bold;
}
