.trigger {
  color: #33363A;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-family: 'Rubik', helvetica, sans-serif;

  padding: 14px 16px;
  transition: 0.2s;
  display: inline-block;

  background-color: inherit;
  cursor: pointer;

  border-style: none;
  outline: none;
}

.trigger:hover {
  background-color: #FFAA00;
}

.triggerActive {
  composes: trigger;
  background-color: #FFAA00;
}

.dropdownIcon {
  vertical-align: middle;
}

.dropdownList {
  position: absolute;
  display: block;
  background-color: #FFD00B;
}
