.modalClass
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerModal
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('./img/bg.jpg');
	border-radius: 5px;
	color: orange;
	width: 30%;
	top: 25%;
	position: absolute;
	padding: 5em;
	margin: 2em 0;
}

.titleModal
{
	color: orange;
	font-family: sans-serif;
	font-size: 2em;
	font-weight: 300;
	padding-bottom: 1.3em;
	opacity: 1;
}

.likeBtn,
.dislikeBtn
{
	background: 0;
	border: 1px solid orange;
	cursor: pointer;
	padding: .5em;
	margin: 0 1em;
	transition: 0.5s;
}

.likeBtn:active,
.dislikeBtn:active,
.closeBtn:active
{
	opacity: .8;
	border: 1px solid lawngreen;
	border-radius: 3px;
	background-color: #0d1116;
}

.closeBtn
{
	border: 1px solid orange;
	font-family: sans-serif;
	font-size: 1.3em;
	color: orange;
	cursor: pointer;
	padding: 0 5px;
	position: absolute;
	top: 15px;
	right: 20px;
}
