.popup {
  position: absolute;
  box-sizing: border-box;
  bottom: 100%;
  right: 0;
  padding: 15px 20px;
  z-index: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
  background-color: #42454A;
  border-radius: 4px;
  color: #FDFDFD;
  fill: #FDFDFD;

  font-family: 'Rubik', helvetica, sans-serif;
  font-weight: bold;
}

.header {
  font: inherit;
  color: inherit;

  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;

  color: inherit;
  fill: inherit;
  font: inherit;
}

.case {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: inherit;
  fill: inherit;
  font: inherit;
}

.button {
  cursor: pointer;

  color: inherit;
  fill: inherit;
  font: inherit;
}
