.containerBall
{
    justify-content: center;
}

.btnBall
{
    background: 0; /* url('icon-ball/362.gif') */
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 23px;
    margin-top: 5px;
    margin-right: 15px;
}

.btnBall:active
{
    opacity: .8;
}

.btnBall:focus
{
    outline: none;
}
