.memberContainer
{
    display: flex;
    flex-direction: row;
    background: #484848;
}
.member
{
    display: flex;
    flex-direction: row;
}
.member_item
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.members_btn
{
    line-height: 20px;
    border-top: 1px solid #f7c497;
    background: #d4ce65;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c7d3e), to(#d4ce65));
    padding: 5px 7px;
    margin: 10px;
    -webkit-border-radius: 39px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-align: center;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #d9eef7;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.members_btn:hover
{
    color: #fff;
    cursor: pointer;
    background: #d6a765;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c883e), to(#d6a765));
}

.members_btn:active
{
    border-top-color: #5c511b;
    background: #5c511b;
}

.members_btn:disabled
{
    opacity: .5;
    background: #5c511b;
    cursor: not-allowed;
}

.members_btn:focus
{
    outline: none;
}
/*ball styles*/
.container_ball
{
    justify-content: center;
}

.btn_ball
{
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 23px;
}

.btn_ball:active
{
    opacity: .8;
}

.btn_ball:focus,
.btn_done:focus
{
    outline: none;
}

.ballMenu
{
    display: flex;
    align-items: center;
}

.btn_done
{
    background: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: greenyellow;
    font-size: 23px;
}

/* hide_show_btn style*/

.hide_show_menu
{
    display: flex;
    align-items: center;
}

.hide_show_btn
{
    background: #4d5c69;
    border: 0;
    border-radius: 33px 0;
    color: orange;
    cursor: pointer;
    display: flex;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 15px;
    margin: 0 0 0 1.2em;
}

.hide_show_btn:hover
{
    text-decoration: underline;
}

.hide_show_btn:focus
{
    outline: none;
}