.userAvatar {
	border-radius: 100%;
	width: 30px;
	height: 30px;
}

.icon {
	display: flex;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
	background: #d6a765;
}
.user {
	text-align: center;
	align-self: center;
	font-weight: 700;
	width: 100%;
}
