.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #353535;
  color: #97A6A6;
  fill: #97A6A6;
}

.title {
  margin-top: 10px;
  color: inherit;;
  font-weight: bold;
}

.panel {
  color: inherit;
  fill: inherit;
}
