.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #FFD00B;
  flex: 1;
}

.tab {
  position: relative;

  color: #33363A;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  font-family: 'Rubik', helvetica, sans-serif;

  padding: 14px 16px;
  transition: 0.2s;
  display: inline-block;

  background-color: inherit;
  cursor: pointer;

  border-style: none;
  outline: none;

  border-right: 2px solid transparent;
}

.tab:hover {
  background-color: #FFAA00;
}

.tabDisabled {
  color: rgba(51, 54, 58, 0.5);
  cursor: default;
}

.tabDisabled:hover {
  background-color: transparent;
}

.errorMark {
  position: absolute;
  top: 25px;
  left: 25px;
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 16px;
  font-family: 'Rubik', helvetica, sans-serif;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 20px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #FFD00B;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0px;
  z-index: 1;
}

.dropdown {}

.dropdownContent .tab:hover {
  background-color: #FFAA00;
  border-right: 2px solid #33363A;
}

.dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
}
